*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: #2ed52e;
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
    
}
.navbar-container{
       display:flex;
       align-items:center;
       justify-content:space-between;
       max-width:1200px;
       margin:0 auto;
       padding:0 24px;
       height:64px;
  }
.navbar-brand img{
     height:40px;
     width:40px;
     border-radius:10px;
     object-fit: cover;
  }
   .navbar-brand span{
      color: #45684a;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.5px;
  }
  .nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
  }
   .nav-links li a{
     text-decoration: none;
     font-size: 0.95;
      font-weight: 500;
     padding: 8px 16px;
     color: black;
   }
  
     .nav-links li a:hover{
    color: #5d7b5b;
    border-bottom: 2px dotted #5d7b5b;
     } 
     .about{
    padding: 15px 25px;
    background-color:#f5f7f2;
  }
  .about-header{
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:#5d7b5b;
    font-size: 35px;
    font-weight: 700;
  }
  .about-container{
    display: flex;
    padding: 10px 20px;
    margin-top: 20px;
    gap: 20px;
  }
  .about-left-col{
    padding:5px 10px ;
    justify-content: center;
    align-items: center;
  }
  .about-image-wrapper{
    width: 540px;
    height: 440px;
    overflow: hidden;
  }
  .about-image-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .about-right-col{
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
  }
  .about-right-col p{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: #8b6f3f;
    line-height: 1;
    text-align: start;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .about-right-col a{
    text-decoration: none;
    padding: 10px 16px;
    margin-top: 30px;
    border-radius: 10px;
    background: #5d7b5b;
    color: white;

  }
  .about-right-col a:hover{
    color: white;
    background: #8b6f3f;
  }
  .footer{
    background-color:#7a8d73;
    color:white;
    padding:48px 40px 24px;
  }
  .footer-inner{
    display:flex;
    justify-content:space-between;
    gap:30px;
    flex-wrap:wrap;
    margin:0 auto 32px;
    max-width:1000px;
    align-items:flex-start;
  }
  .footer-brand h3{
    color:#f4efe6;
    font-size:20px;
    margin-bottom:10px;
  }
  .footer-brand p{
    color:#e8f1e6;
    font-size:16px;
  }
  .footer-links a{
    display:block;
    margin-bottom:10px;
    text-decoration:none;
    color:#e8f1e6;
    font-size:16px;
  }
  .footer-links a:hover{
    color:#f4efe6;
    text-decoration:dotted;
    transform:translateY(-4px)
  }
  .footer-socials-links{
    display:flex;
    flex-direction:row;
    gap:20px;
  }
  .footer-socials-links img{
    height:40px;
    width:40px;
  }
  .footer-copy{
    color:#e8f1e6;
    font-size:16px;
    text-align:center;
  }